#modal-box {
	z-index: 1;
	position: fixed;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

#inner-modal-box {
	position: relative;
	text-align: center;
	border-radius: 5px;
	box-shadow: inset 0px 0px 0px 4px black;
	margin-left: 40vw;
	margin-top: 10vh;
	background-color: azure;
	width: 350px;
	height: 15vh;
}

#modal-message {
	vertical-align: middle;
	font-family: "Orbitron", sans-serif;
	font-size: xx-large;
	line-height: 15vh;
}

#close-button {
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 30px;
	font-weight: bold;
	border-radius: 30px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	box-shadow: inset 0px 0px 0px 1px black;
}

#close-button:hover {
	cursor: pointer;
	color: red;
}